<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\luckydraw.log"/>
      <preserveLogFileNameExtension value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="AllEmployeesFileName" value="Data\allEmployees.json"/>
    <add key="WinnersFileName" value="Data\winners.json"/>
    <add key="PrizesFileName" value="Data\prizes.json"/>
    <add key="DelaySeconds" value="3"/>
  </appSettings>
</configuration>